<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name="_csrf" content="b40c2453-5c92-4fb8-8a48-9329d11c12e3"/>
    <meta name="_csrf_header" content="X-CSRF-TOKEN"/>
    <link href="css/interface.css" rel="stylesheet" type="text/css" />
    <link href="css/oxford.css" rel="stylesheet" type="text/css" />
    <link href="css/responsive.css" rel="stylesheet" type="text/css" />
</head>
