<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="_csrf" content="5691811d-ef48-4a3b-9da6-d8e862f0d804" />
        <meta name="_csrf_header" content="X-CSRF-TOKEN" />
        <link href="css/oxford.css" rel="stylesheet" type="text/css" />
        <link href="css/responsive.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        
        
         <div id="ox-header" class="">
            <div class="responsive_row flush-below top">
                <div class="responsive_container responsive_display_on_smartphone">
                    <div class="menu_button"></div>
                </div>
                <div class="nav responsive_container main_nav">
                    <ul class="menu">
                        <li><a  href="http://scdemo.techfak.uni-bielefeld.de/termeallod/">Home</a></li>
                        <li><a  href="http://scdemo.techfak.uni-bielefeld.de/termeallod/">Back</a></li>
                    </ul>
                </div>
            </div>

        <div id="ox-container">
            <div class="responsive_container ">
                <div class="responsive_row">
                    <div id="ad_leftslot_container" class="ad_leftslot_container responsive_entry_left">
                        <div class="ac_leftslot sticky">
                            <div id='ad_leftslot_a' class='am-default '>
                            </div>
                        </div>
                    </div>

                    <div class="responsive_entry_center">
                        <div class="responsive_entry_center_wrap">

                            <div id="ox-wrapper" class="responsive_entry_center_left">
                                <div id="main_column" class="responsive_row">
                                    <div id="main-container" class="main-container">
                                        <div id="entryContent" class="oald">
                                            <div class="entry" sum="1399" dpsid="u4cdebea65f7df6b4.743b4102.13cbab9c8f4.ef0" id="abandon_1">
                                                <ol class="h-g" dpsid="u4cdebea65f7df6b4.743b4102.13cbab9c8f4.f01" id="abandon_hg_2">
                                                    <div class="top-container">
                                                        <div class="top-g" id="abandon_topg_2" dpsid="u4cdebea65f7df6b4.743b4102.13cbab9c8f4.ef2">
                                                            <div class="webtop-g">
                                                                <a class="academic" href="https://www.oxfordlearnersdictionaries.com/wordlist/english/academic/"> </a><span class="z"> </span>
                                                                <h2 class="h">abandon</h2>
                                                                <span class="z"> </span>
                                                                </div>
                                          
                                                           
                                                                <span class="collapse" title="English">
                                                                     <span class="heading">English</span>
                                                              
                                                                    </span>
                                                                </span>
                                                            </span>
                                                            <div class="clear"> </div>
                                                            <a class="responsive_display_inline_on_smartphone link-right" href="#relatedentries">jump to other results</a>
                                                            <br/>
                                                        </div>
                                                        
                                                    </div><span class="sn-gs" id="abandon_sngs_1" dpsid="u4cdebea65f7df6b4.743b4102.13cbab9c8f4.f21">
                                                          <li class="sn-g" id="abandon_sng_1" ox3000="y" audio_gb="studs_terkel#1_gb_1" dpsid="u4cdebea65f7df6b4.743b4102.13cbab9c8f4.f22" audio_us="studs_terkel#1_us_1">
                                                            <span class="num">1 </span>
                                                            <span class="sym_first">
                                                                <a class="oxford3000" href="https://www.oxfordlearnersdictionaries.com/wordlist/english/oxford3000/"> 
                                                                </a></span><span class="def" id="abandon_def_1" dpsid="u4cdebea65f7df6b4.743b4102.13cbab9c8f4.f23">Multilingualism</span>
                                                            
                                                            <span class="x-gs" id="abandon_xgs_1" dpsid="u4cdebea65f7df6b4.743b4102.13cbab9c8f4.f24">
                                                                <!--span class="x-g" dpsid="u4cdebea65f7df6b4.743b4102.13cbab9c8f4.f25" id="abandon_xg_1"--> 
                                                                    <span class="x-g" dpsid="u4cdebea65f7df6b4.743b4102.13cbab9c8f4.f29" id="abandon_xg_2"> 
                                                                        <span class="x" dpsid="u4cdebea65f7df6b4.d396464.14cafc14f9d.-7472" id="abandon_x_2">Test2</span>
                                                                    </span>
                                                                    
                                                                    <span class="x-g" dpsid="u4cdebea65f7df6b4.743b4102.13cbab9c8f4.f2b" id="abandon_xg_3"> 
                                                                        <span class="x" dpsid="u4cdebea65f7df6b4.d396464.14cafc14f9d.-746f" id="abandon_x_3">Test3</span>
                                                                    </span>
                                                            </span>
                                  
                                                        </li>
                                                       
                                                        <li class="sn-g" id="abandon_sng_3" dpsid="u4cdebea65f7df6b4.743b4102.13cbab9c8f4.f3f" audio_us="studs_terkel#1_us_1" ox3000="y" audio_gb="studs_terkel#1_gb_1">
                                                            <span class="num">3 </span><span class="sym_first">
                                                                <a class="oxford3000" href="https://www.oxfordlearnersdictionaries.com/wordlist/english/oxford3000/"> </a></span>
                                                                <span class="cf" dpsid="u4cdebea65f7df6b4.743b4102.13cbab9c8f4.f40" id="abandon_cf_5">
                                                                <span class="exp" dpsid="u4cdebea65f7df6b4.743b4102.13cbab9c8f4.f41" id="abandon_exp_5">Sense</span> 
                                                                <span class="def" dpsid="u4cdebea65f7df6b4.743b4102.13cbab9c8f4.f42" id="abandon_def_3"></span>
                                                                
                                                                <span class="x-g" dpsid="u4cdebea65f7df6b4.743b4102.13cbab9c8f4.f44" id="abandon_xg_7"> 
                                                                    <span class="x" dpsid="u4cdebea65f7df6b4.d396464.14cafc14f9d.-7461" id="abandon_x_7">Test1</span>
                                                                </span>
                                                                    
                                                                <span class="x-g" id="abandon_xg_8" dpsid="u4cdebea65f7df6b4.743b4102.13cbab9c8f4.f46"> 
                                                                    <span class="x" dpsid="u4cdebea65f7df6b4.d396464.14cafc14f9d.-745e" id="abandon_x_8">Test2</span>
                                                                </span>
                                                                    
                                                                <span class="x-g" id="abandon_xg_9" dpsid="u4cdebea65f7df6b4.743b4102.13cbab9c8f4.f48"> 
                                                                    <span class="x" dpsid="u4cdebea65f7df6b4.7cee736d.14df73d1668.7e8d" id="abandon_x_9">Test3</span>
                                                                </span>
                                                                    
                                                            </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>

                                    </div>

                                   
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>

                </div>

            </div>
        </div>
             
    </body>

</html>