
<html lang="en">
	<head>
		<title>PRÊT-À-LLOD task status</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css"/>
		<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab|Ubuntu+Mono&display=swap" rel="stylesheet" />
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/css/autoComplete.min.css">
		<link rel="stylesheet" href="./static/status.css" />
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@7.2.0/dist/js/autoComplete.min.js"></script>
		<script src="./static/status.js"></script>
	
        
        
        </head>
        
        
        
	<body>
            <div id="header">
                <h1 class="tpl_service_name">Prêt-à-LLOD</h1>
                <ul id="topnav">
                    <li><a class="btn btntopnav" href="?view=status">status</a></li>
                    <li><a class="btn btntopnav" href="describe">browser</a></li>
                    <li><a class="btn btntopnav" href="?view=sparql">sparql</a></li>
                    <li><a class="btn btntopnav" href="?view=search">terms</a></li>
                </ul>
            </div>
            
            
<div id="sparql" class="content">
    <h2 style="margin-left: 5%">SPARQL query</h2>
    <form id="sparql_query" method="get">
        <button type="submit" id="sparql_submit" class="btn btn-submit">Query</button>
        <textarea id="query" name="query" rows=8 cols=80>
PREFIX cc:    <http://creativecommons.org/ns#> 
PREFIX void:  <http://rdfs.org/ns/void#> 
PREFIX skos:  <http://www.w3.org/2004/02/skos/core#> 
PREFIX rdfs:  <http://www.w3.org/2000/01/rdf-schema#> 
PREFIX tbx:   <http://tbx2rdf.lider-project.eu/tbx#> 
PREFIX decomp: <http://www.w3.org/ns/lemon/decomp#> 
PREFIX dct:   <http://purl.org/dc/terms/> 
PREFIX rdf:   <http://www.w3.org/1999/02/22-rdf-syntax-ns#> 
PREFIX ontolex: <http://www.w3.org/ns/lemon/ontolex#> 
PREFIX ldr:   <http://purl.oclc.org/NET/ldr/ns#> 
PREFIX odrl:  <http://www.w3.org/ns/odrl/2/> 
PREFIX dcat:  <http://www.w3.org/ns/dcat#> 
PREFIX prov:  <http://www.w3.org/ns/prov#> 
SELECT ?localTermUrl ?rep ?linkedTermUrl WHERE { 
    ?s ?p ?localTermUrl .
    ?localTermUrl ontolex:canonicalForm ?canform .
    ?canform ontolex:writtenRep ?rep .
    OPTIONAL {?localTermUrl ontolex:sameAs ?linkedTermUrl .}
} LIMIT 100
        </textarea><br />
    </form>
    <div id="sparql_results">

    </div>
</div>
		<footer>&copy; 2020 - <a href="http://www.pret-a-llod.eu/">PRÊT-À-LLOD - <span class="tpl_service_name">{{service_name}}</span></a></footer>
	</body>
</html>
